.registration-form-title{
    background-color: rgb(240, 240, 240);
}
.registration-form{
    width: 800px;
    margin: 10px auto;
}
.registration-form-title, .button-wrapper{
    text-align: center;
}
.heading{
    background-color: rgba(223, 222, 222, 0.568);
    width: 100%;
    background-size: cover;
    text-align: center;
   margin-top: 15px;
}